# Python #
*.pyc
*.so
*.o

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
#############
# Latex #
doc/**/*.aux
doc/**/*.idx
doc/**/*.out
doc/**/*.spl
doc/**/*.bbl
doc/**/*.blg
doc/**/*.ind
doc/**/*.ilg
doc/**/*.out
doc/**/*.log
#############
# data and log #
data/**/*
log/**/*


*.err
*.txt
*.lnk
*.pyd
*.obj
*.exp
*.lib
*.egg
*.pth
*.h5
ext/cd/install/Lib/site-packages/site.py
ext/cd/chamfer.egg-info/PKG-INFO
*.ps1
